﻿
@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

@{
    ViewBag.Title = "Notes";
}

<div class="jumbotron">
    <h1>Branching</h1>
</div>

<p><strong>Branch</strong> is a separate but identical copy of a project in source control that can be used to make changes withour affecting the original code</p>

<ul>
    <li>
        Creating a branch in source control allows us to create seperate and safe "sandboxed" version of our code. This seperate branch allows us  to make and test
        changes in a wat so that if somethng goes wrong, not only can we roll back to a previous commit but also completely delete the branch
    </li>
    <li>
        Branching allows us to develope concurrently on a similar piece of a project as another developer without continually running into merge conflicts untill
        we are completed
    </li>
    <li>
        Adding a clasification prefix can help organize branches
    </li>
    <li> it is important to always keep track of which branch you are on so that you dont make changes to a branch you are not intending to modify</li>
</ul>


<div class="jumbotron"><H1>Merging</H1></div>
<p>
    <strong>Merge</strong> in sourfce control is the process of combining changes from one branch with the current code of another
</p>
<ul>
    <li>make sure the current branch selected (bolded in SourceTree) is the branch getting the new functionality (code)</li>
    <li>right-click on brnach you want to merge</li>
    <li>if there are any merge conflicts, resolve them here</li>
</ul>
<div class="jumbotron">
    <h1>Stashing</h1>
</div>

<p><strong>Stash</strong> in source control is the process of setting changd code temporarily aside in order to switch branches and apply them to the new branch</p>

<ul>
    <li>If changes are made in the wrong branch (making changes in a master instead of a feature or enhancement branch), you can stash the changes</li>
    <li>this is also usefull if there are updates to a working parent copy that you need to have before you finish your current branch</li>
</ul>

<div class="jumbotron">
    <h1>When To What? (Timeline of Source Control)</h1>
</div>
<ul>
    <li><strong>Pull</strong> first thing, before creating a branch</li>
    <li>if youve got <strong>Unstaged files</strong> and a pull request, <strong>stash</strong> the files then <strong>pull</strong> the new code and create a new branch. after creating a new branch, <strong>apply</strong> the stash created and delete the old branch</li>
    <li><strong>Create</strong> a new branch</li>
    <li><strong>Stage & Commit</strong> your update</li>
    <li><strong>Push</strong>local branch to the remote (origin)</li>
    <li><strong>Merge</strong> new functionality to release/master</li>
    <li><strong>Push</strong> the release/master to the remote (origin)</li>
</ul>