﻿@model TEAM_052217D.data.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @if (User.IsInRole("Admin"))
        {

        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        }
    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {


        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
