﻿@model IEnumerable<TEAM_052217D.data.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated)
    {

    
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {

            
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) @:| 
            }
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID })
            @if (User.IsInRole("Admin"))
            {
             @:|
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID }) 
            }
        </td>
    </tr>
}

</table>
